/* 基础样式 */
body {
    margin: 0;
    background: var(--base) var(--grid);
    color: var(--text);
    min-height: 100vh;
}

.d-grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
}

.dyna-divider {
    height: var(--border-width);
    margin: var(--spacing-lg) 0;
    background: repeating-linear-gradient(
            90deg,
            transparent 0 15px,
            var(--text) 15px 18px
    );
}

